# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Django development database & media uploads
db.sqlite3
*.sqlite3
media/

# Environment variables
.env

# OS / Editor files
.DS_Store
.vscode/
.cursor/

# Static collection
staticfiles/

# Test and coverage files
.coverage
htmlcov/
.pytest_cache/
